

.input-group {
    
                
                width: 250px !important;
                border: 2px solid rgb(255, 255, 255) !important;
                border-radius: 10px !important;
                box-shadow: 3px 2px 5px 0px #676767 !important;
                margin:0 !important;
            
        }


     #basic-addon {
         border: 3px solid rgb(29, 56, 29)!important; 
         border-radius: 10px !important;
        }